@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: white;
	color: black;
	font-size: 14px;
}

.card {
	background:rgb(250, 250, 250);
	color: black;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.11);
	max-width: 900px;
	margin: 2rem auto;
}

.chart {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 12px;
  background-color: #daf0ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: rgb(85 126 231);
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
}

.expense-form {
	padding: 1rem;
}

.expense-form__controls {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-content: center;
}

.expense-form__control {
	flex-grow: 1;
}

.expense-form__control > label {
	display: block;
	font-weight: 500;
	margin: 0 0 0.25rem 0;
}

.expense-form__control > input {
	padding: 0.75rem;
	width: 100%;
	border: 1px solid rgb(241, 241, 241);
	border-radius: 5px;
	outline: none;
	font-size: 0.9rem;
}

.expense-form__actions {
	margin: 0.5rem 0 0 0;
	text-align: right;
}

.expense-form__actions > button {
	padding: 0.75rem;
	border: 0;
	background-color: rgb(85 126 231);
	color: white;
	font-size: 0.9rem;
	font-weight:700;
	border-radius: 5px;
}

.expense-item, .expense-item__empty {
  display: flex;
  justify-content: space-between;
  align-items: center;
	margin: 0;
	padding: 0;
	gap: 1rem;
	padding: 10px 20px;
}



.expense-item:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.034);
}


.expense-item__title {
	flex-grow: 1;
}

.expense-item__date {
	font-size: 0.8rem;
}